<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text = "'Dettagli di: ' + ${quadro.titolo}">Insert title here</title>
</head>
<body>
	<h1 th:text = "'Dettagli di: ' + ${quadro.titolo}">Quadro</h1>
	<ul>
		<li th:text = "'Anno di creazione: ' + ${quadro.anno}"></li>
		<li th:text = "'Tecnica di creazione: ' + ${quadro.tecnica}"></li>
		<li th:text = "'Dimensioni del quadro: ' + ${quadro.dimensioni}"></li>
	</ul>
	<h3>Dettagli Autore:</h3>
	<ul>
		<li th:text = "'Nome Autore: ' + ${quadro.autore.nome}"></li>
		<li th:text = "'Cognome Autore: ' + ${quadro.autore.cognome}"></li>
		<li th:text = "'Nazionalita Autore: ' + ${quadro.autore.nazionalita}"></li>
		<li th:text = "'Data di nascita: ' + ${quadro.autore.dob}"></li>
		<li th:switch ="${quadro.autore.dod == null}">
			<span th:case = "false" th:text = "'Data di morte: ' + ${quadro.autore.dod}"></span>
			<span th:case = "true" th:text = "'Data di morte: '"></span>
		</li>
	</ul>
	<form>
		<button formaction = "/" type = "submit" formmethod = "GET">Torna alla home!</button>
	</form>
	<form>
		<button formaction = "/lista" type = "submit" formmethod = "GET">Torna alla lista!</button>
	</form>
</body>
</html>