<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text = "'Dettagli di: ' + ${quadro.titolo}">Insert title here</title>
</head>
<body>
	<h1 th:text = "${quadro.titolo}+' di '+ ${quadro.autore.nome} + ' ' + ${quadro.autore.nome}">Quadro</h1>
	<ul>
		<li th:text = "'Anno di creazione: ' + ${quadro.anno}"></li>
		<li th:text = "'Tecnica di creazione: ' + ${quadro.tecnica}"></li>
		<li th:text = "'Dimensioni : ' + ${quadro.dimensione}"></li>
	</ul>
	<h2>Dettagli Autore:</h2>
	<ul>
		<li th:text = "'Nome : ' + ${quadro.autore.nome}"></li>
		<li th:text = "'Cognome : ' + ${quadro.autore.cognome}"></li>
		<li th:text = "'Nazionalità: ' + ${quadro.autore.nazionalita}"></li>
		<li th:text = "'Data di nascita: ' + ${quadro.autore.dataNascita}"></li>
		<li th:switch ="${quadro.autore.dataMorte == null}">
			<span th:case = "false" th:text = "'Data di morte: ' + ${quadro.autore.dataMorte}"></span>
			<span th:case = "true"></span>
		</li>
	</ul>
	<form th:action="@{/}" th:method="get">
	<input type="submit" value="Torna alla pagina iniziale"/>
	</form>
	<form th:action="@{/quadri}" th:method="get">
	<input type="submit" value="Torna alla lista delle opere"/>
	</form>
</body>
</html>