<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      <meta charset="utf-8"/>
 
<head>

<title>Dettagli Quadro</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
<link href="../css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand">Galleria</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/}"><span class="glyphicon glyphicon-home"></span>HOME</a></li>
        <li><a th:href="@{/quadri}"><span class="glyphicon glyphicon-th"></span>LISTA QUADRI</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/inserimentoQuadro}"><span class="glyphicon glyphicon-picture"></span>INSERIMENTO QUADRO</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/inserimentoAutore}"><span class="glyphicon glyphicon-pencil"></span>INSERIMENTO AUTORE</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/modifica(quadroDaModificare=${quadro.id})}"><span class="glyphicon glyphicon-edit"></span>MODIFICA</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/cancella(quadroDaCancellare=${quadro.id})}"><span class="glyphicon glyphicon-trash"></span>CANCELLA</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container text-center">
	<h1 th:text = "${quadro.titolo}+' di '+ ${quadro.autore.nome} + ' ' + ${quadro.autore.cognome}">Quadro</h1>
	<ul>
		<li th:text = "'Anno di creazione: ' + ${quadro.anno}"></li>
		<li th:text = "'Tecnica di creazione: ' + ${quadro.tecnica}"></li>
		<li th:text = "'Dimensioni : ' + ${quadro.dimensione}"></li>
	</ul>
	<h2>Dettagli Autore:</h2>
	<ul>
		<li th:text = "'Nome : ' + ${quadro.autore.nome}"></li>
		<li th:text = "'Cognome : ' + ${quadro.autore.cognome}"></li>
		<li th:text = "'Nazionalità: ' + ${quadro.autore.nazionalita}"></li>
		<li th:text = "'Data di nascita: ' + ${quadro.autore.dataNascita}"></li>
		<li th:switch ="${quadro.autore.dataMorte == null}">
			<span th:case = "false" th:text = "'Data di morte: ' + ${quadro.autore.dataMorte}"></span>
			<span th:case = "true"></span>
		</li>
	</ul>
	</div>
</body>
</html>