<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Nuovo Autore</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
<link href="../css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand">Galleria</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/}"><span class="glyphicon glyphicon-home"></span>HOME</a></li>
        <li><a th:href="@{/quadri}"><span class="glyphicon glyphicon-th"></span>LISTA QUADRI</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/inserimentoQuadro}"><span class="glyphicon glyphicon-picture"></span>INSERIMENTO QUADRO</a></li>
      </ul>
    </div>
  </div>
</nav>
	<div  class="container text-center">
	  <div class="page-header">
		<h1 class="italic">Inserire il nuovo autore :</h1>
		</div>
        <form action="#" th:action="@{/inserimentoAutore}" th:object="${autore}" method="post">
            <div>
            
                <div>
                    <span>Nome : </span>
                    <span><input type="text" th:field="*{nome}" placeholder="inserire nome" /></span>
                    <span th:if="${#fields.hasErrors('nome')}">Errore inserimento nome</span>
                </div>
                <div>
                    <span>Cognome : </span>
                    <span><input type="text" th:field="*{cognome}" placeholder="inserire cognome"/></span>
                    <span th:if="${#fields.hasErrors('cognome')}">Errore inserimento cognome</span>
                </div>
                <div>
                    <span>Nazionalità : </span>
                    <span><input type="text" th:field="*{nazionalita}" placeholder="inserire nazionalità"/></span>
                    <span th:if="${#fields.hasErrors('nazionalita')}">Errore inserimento nazionalità</span>
                </div>
                <div>
                    <span>Data di nascita : </span>
                    <span><input type="text" th:field="*{dataNascita}"  placeholder="inserire data di nascita"/></span>
                    <span th:if="${#fields.hasErrors('dataNascita')}">Errore inserimento data di nascita</span>
                </div>
                <div>
                    <span>Data di morte : </span>
                    <span><input type="text" th:field="*{dataMorte}"  placeholder="inserire data di morte"/></span>
                    <span th:if="${#fields.hasErrors('dataMorte')}">Errore inserimento data di morte</span>
                </div>
                </div>
                <div>
                <input type="submit"  class="btn" value="Inserisci nuovo autore"/>
                </div>
        </form>
   </div>
    </body>
</html>