<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Nuovo Autore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <form action="#" th:action="@{/inserimentoAutore}" th:object="${autore}" method="post">
            <div>
            
                <div>
                    <span>Nome : </span>
                    <span><input type="text" th:field="*{nome}" placeholder="inserire nome" /></span>
                    <span th:if="${#fields.hasErrors('nome')}">Errore inserimento nome</span>
                </div>
                <div>
                    <span>Cognome : </span>
                    <span><input type="text" th:field="*{cognome}" placeholder="inserire cognome"/></span>
                    <span th:if="${#fields.hasErrors('cognome')}">Errore inserimento cognome</span>
                </div>
                <div>
                    <span>Nazionalità : </span>
                    <span><input type="text" th:field="*{nazionalita}" placeholder="inserire nazionalità"/></span>
                    <span th:if="${#fields.hasErrors('nazionalita')}">Errore inserimento nazionalità</span>
                </div>
                <div>
                    <span>Data di nascita : </span>
                    <span><input type="text" th:field="*{dataNascita}"  placeholder="inserire data di nascita"/></span>
                    <span th:if="${#fields.hasErrors('dataNascita')}">Errore inserimento data di nascita</span>
                </div>
                <div>
                    <span>Data di morte : </span>
                    <span><input type="text" th:field="*{dataMorte}"  placeholder="inserire data di morte"/></span>
                    <span th:if="${#fields.hasErrors('dataMorte')}">Errore inserimento data di morte</span>
                </div>
                </div>
                <div>
                <input type="submit" value="Inserisci nuovo autore"/>
                </div>
        </form>
        <form th:action="@{/}" th:method="get">
	<input type="submit" value="Torna alla pagina iniziale"/>
	</form>
	<form th:action="@{/quadri}" th:method="get">
	<input type="submit" value="Torna alla lista delle opere"/>
	</form>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        
        </div>
    </body>
</html>