<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Nuovo Quadro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
   <div th:if="${modifica!=null}">
     <form action="#" th:action="@{/modifica}" th:object="${quadroModificato}" method="post">
            <div>
            <input type="hidden" th:value="*{id}"/>
                <div>
                    <span>Titolo : </span>
                    <span><input type="text" th:field="*{titolo}" th:value="{quadro.titolo}"/></span>
                    <span th:if="${#fields.hasErrors('titolo')}">Errore inserimento titolo</span>
                </div>
                <div>
                    <span>Anno : </span>
                    <span><input type="text" th:field="*{anno}" th:value="${quadro.anno}"/></span>
                    <span th:if="${#fields.hasErrors('anno')}">Errore inserimento anno</span>
                </div>
                <div>
                    <span>Tecnica : </span>
                    <span><input type="text" th:field="*{tecnica}" th:value="${quadro.tecnica}"/></span>
                    <span th:if="${#fields.hasErrors('tecnica')}">Errore inserimento tecnica</span>
                </div>
                <div>
                    <span>Autore : </span>
                <select name = "autoreScelto" id="autoUpdate" class="autoUpdate">
					<option value="" th:disabled = "true" th:selected="true" th:text="Autore precedente : ${quadro.autore}">Seleziona un autore...</option>
					<option th:each="autore : ${autori}" th:text = "${autore.nome} + ' ' + ${autore.cognome}" th:value = "${autore.id}"/>
				</select>
				<a th:href="@{/inserimentoAutore}">Inserisci un nuovo autore</a>
                </div>
                <div>
                <input type="submit" value="Esegui modifica quadro"/>
                </div>
            </div>
        </form>
    </div> 
     <div th:unless="${modifica!=null}">
        <form action="#" th:action="@{/inserimentoQuadro}" th:object="${quadro}" method="post">
            <div>
                <div>
                    <span>Titolo : </span>
                    <span><input type="text" th:field="*{titolo}" placeholder="inserire titolo"/></span>
                    <span th:if="${#fields.hasErrors('titolo')}">Errore inserimento titolo</span>
                </div>
                <div>
                    <span>Anno : </span>
                    <span><input type="text" th:field="*{anno}" placeholder="inserire anno"/></span>
                    <span th:if="${#fields.hasErrors('anno')}">Errore inserimento anno</span>
                </div>
                <div>
                    <span>Tecnica : </span>
                    <span><input type="text" th:field="*{tecnica}" placeholder="inserire tecnica"/></span>
                    <span th:if="${#fields.hasErrors('tecnica')}">Errore inserimento tecnica</span>
                </div>
                <div>
                    <span>Dimensioni : </span>
                    <span><input type="text" th:field="*{dimensione}" placeholder="base X altezza"/></span>
                    <span th:if="${#fields.hasErrors('dimensione')}">Errore inserimento dimensione</span>
                </div>
                <div>
                    <span>Autore : </span>
                <select name = "autore" id="autoUpdate" class="autoUpdate">
					<option value="" th:disabled = "true" th:selected="true">Seleziona un autore...</option>
					<option th:each="autore : ${autori}" th:text = "${autore.nome} + ' ' + ${autore.cognome}" th:value = "${autore.id}"/>
				</select>
				 <a th:href="@{/inserimentoAutore}">Inserisci un nuovo autore</a> 
				 <span th:text="${messaggio}"></span>
                </div>
                <input type="hidden" value="${quadro.autore.id}" th:field="*{id}" name="id"/>
                <div>
                <input type="submit" value="Inserisci nuovo quadro"/>
                </div>
            </div>
        </form>
        <form th:action="@{/}" th:method="get">
	<input type="submit" value="Torna alla pagina iniziale"/>
	</form>
	<form th:action="@{/quadri}" th:method="get">
	<input type="submit" value="Torna alla lista delle opere"/>
	</form>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        </div>
       </div>
    </body>
</html>