<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"/>
<title>Login Page</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<h1>Amministratore loggato:</h1>
		User : <span style="font-weight: bold"
			sec:authentication="principal.name"></span>
	    Username : <span style="font-weight: bold" 
	    sec:authentication="principal.username"></span>
		<form action="#" th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
				<a href="inserimento">Inserisci un nuovo quadro</a>
		</div>
<div sec:authorize="!isAuthenticated()">
	<h1>Login amministratore</h1>
		<form action="#" th:action="${/login}" method="post">
			<p>
				Username :<input type="text" name="username"
					placeholder="Enter Username" />
			</p>
			<p>
				Password :<input type="password" name="password"
					placeholder="Enter Password" />
			</p>
			<span th:if="${param.loggedout}" style="font-weight: bold" id = "logout">Logout effettuato, torna alla <a href="${/index}">home</a></span>
            <span th:if="${param.error}" style="font-weight: bold" id="error">Username e/o Password invalidi</span>
			<input type="submit" value="Login" />
			</form>
	</div>
	<a href="quadri">Lista Quadri</a>
</body>
</html>