<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      <meta charset="utf-8"/>
 
<head>

<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
<link href="../css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand">Galleria</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/}"><span class="glyphicon glyphicon-home"></span>HOME</a></li>
        <li><a th:href="@{/quadri}"><span class="glyphicon glyphicon-th"></span>LISTA QUADRI</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/inserimentoQuadro}"><span class="glyphicon glyphicon-picture"></span>INSERIMENTO QUADRO</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/inserimentoAutore}"><span class="glyphicon glyphicon-pencil"></span>INSERIMENTO AUTORE</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container text-center">
		<div class="page-header">
		<h1 class="italic">Login :</h1>
		</div>
		<form class="form-inline" name="f" th:action="@{/login}" method="post">
			<div th:if="${param.error}" class="alert alert-error">Username e password errati!</div>
			<div th:if="${param.logout}" class="alert alert-success">Hai acceduto con successo</div>

			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> <input id="username"
					type="text" class="form-control" name="username"
					placeholder="Inserire username"/>
			</div>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> <input id="password"
					type="password" class="form-control" name="password"
					placeholder="Inserire password"/>
			</div>
			
	
 
			<div class="form-actions">
				<button type="submit" class="btn">Log in</button>
			</div>
		</form>
	</div>
</body>
</html>