<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><head>
<meta charset="UTF-8"/>
<title>Quadri nella galleria</title>
</head>
<body>
<h1>Questi sono i quadri presenti nella galleria:</h1>
<ul>
		<li th:each="quadro : ${quadri}">
			<a th:href="quadro" th:text="${quadro.titolo}"></a>
			
			<div  sec:authorize="${hasRole('ROLE_ADMIN')}" >
			<form th:action="${/modifica}" method="post">
			<input type="submit" value="modifica"/>
			</form>
			<form th:action="${/cancella}" method="post">
			<input type="submit" value="cancella"/>
			</form>
			</div>
			</li>
			</ul>
			<div  sec:authorize="${hasRole('ROLE_ADMIN')}" > 
			<a href="/inserimentoQuadro">Inserisci un quadro alla galleria</a>
			</div> 
</body>
</html>