<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>HomePage</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../css/main.css"/>
<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>


</head>

<body>
	<h1>Questi sono i quadri presenti nella galleria:</h1>



  <div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="../img/pennelli.jpg" alt="Paris"/>
      <p><strong>Paris</strong></p>
      <p>Fri. 27 November 2015</p>
       <button class="btn">Buy Tickets</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="../img/pennelli.jpg" alt="New York"/>
      <p><strong>New York</strong></p>
      <p>Sat. 28 November 2015</p>
      <button class="btn">Buy Tickets</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="../img/pennelli.jpg" alt="San Francisco"/>
      <p><strong>San Francisco</strong></p>
      <p>Sun. 29 November 2015</p>
      <button class="btn">Dettagk</button>
    </div>
  </div>
</div>

	<form th:action="@{/quadriPerAutore}" th:method="get">
		<select name="autoreScelto" id="autoUpdate" class="autoUpdate">
			<option value="" th:disabled="true" th:selected="true">Seleziona
				un autore...</option>
			<option th:each="autore : ${autori}"
				th:text="${autore.nome} + ' ' + ${autore.cognome}"
				th:value="${autore.id}" />
		</select> <input type="submit" value="Trova quadri di questo autore" />
	</form>
	<form th:action="@{/quadriPerAnno}" th:method="get">
		<input type="text" name="anno"
			placeholder="inserisci l'anno per cercare i quadri" /> <input
			type="submit" value="Trova quadri di questo anno" />
	</form>
	<form th:action="@{/quadriPerTecnica}" th:method="get">
		<input type="text" name="tecnica"
			placeholder="inserisci la tecnica per cercare i quadri" /> <input
			type="submit" value="Trova quadri con questa tecnica" />
	</form>
	<ul>
		<li th:each="quadro : ${quadri}"><a
			th:href="@{/dettagliQuadro(id=${quadro.id})}"
			th:text="${quadro.titolo}"></a>
			<div sec:authorize="isAuthenticated()">
					<a th:href="@{/modifica(quadroDaModificare=${quadro.id})}">Modifica</a>
					 <a th:href="@{/cancella(quadroDaCancellare=${quadro.id})}">Cancella</a>
					 </div>
			</li>
	</ul>
	<div sec:authorize="isAuthenticated()">
		<a href="/inserimentoQuadro">Inserisci un quadro alla galleria</a>
		
	
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
		</div>
	
</body>
</html>